db:
  gencode:
    genome: 'ftp.sanger.ac.uk/pub/gencode/Gencode_{}/release_{}/{}.primary_assembly.genome.fa.gz'
    gtf: 'ftp.sanger.ac.uk/pub/gencode/Gencode_{}/release_{}/gencode.v{}.primary_assembly.annotation.gtf.gz'
    transcriptome: 'ftp.sanger.ac.uk/pub/gencode/Gencode_{}/release_{:}/gencode.v{}.transcripts.fa.gz'
    protein_coding_tx: 'ftp.sanger.ac.uk/pub/gencode/Gencode_{}/release_{:}/gencode.v{}.pc_transcripts.fa.gz'
    lnc: 'ftp.sanger.ac.uk/pub/gencode/Gencode_{}/release_{:}/gencode.v{:}.long_noncoding_RNAs.gtf.gz'
    gencode_release: 28
    add_ercc: false